.box {
    margin: 0 auto;
    padding: 20px;
    
  }
  .input-box {
    width: min(500px, 90%);
    margin:  auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.2rem;
    color: black;
  }
  h1 {
    color: black;
    text-align: center;
    font-size: 1.6rem;
  }
  textarea {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  .center {
   
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
 
.template {
  position: relative;
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin: 0 auto;
   
}
.template p {
   
    margin-top: 0;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: linear-gradient(
      to top,
      rgba(38, 40, 39, 1) 0%,
      rgba(38, 40, 39, 1) 20%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.3) 100%
      
    );
}
  img {
    height: 100%;
    width: 100%;   
  }
  
  .download {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
 
   
   
  }
  .download input {
    flex: 1;
    padding: 0.4rem;
  }

  .download button {
    background-color: lime;
    padding: 0.4rem 0.6rem;

    
  }

  .props {
   
    display: flex;
 
  gap: 0.2rem;
  color: black;

  }
  
  .props .form-input {
    flex: 1;
    display: flex;
    gap: 1rem;
   
  }
  .form-input label {
  
  }
  .form-input input {
    border: none;
    width: 60px
  }